<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirm</title>
</head>
<body>
{% load i18n static %}
{% if valid_link %}

<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <input class="hidden" type="hidden" autocomplete="username" value="{{ password_reset_confirm_form.user.get_username }}">
    <div class="form-row field-password1">
        {{ password_reset_confirm_form.new_password.errors }}
        <label for="id_new_password">{% translate 'New password:' %}</label>
        {{ password_reset_confirm_form.new_password }}
    </div>
    <div class="form-row field-password2">
        {{ password_reset_confirm_form.confirm_new_password.errors }}
        <label for="id_confirm_new_password">{% translate 'Confirm password:' %}</label>
        {{ password_reset_confirm_form.confirm_new_password }}
    </div>
    {{ password_reset_confirm_form.new_password.help_text }}
    <input type="submit" value="{% translate 'Change my password' %}">
</fieldset>
</form>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

</body>
</html>
